<style>
  .logins {
      display: flex;
      flex-direction: row;
      gap: 1rem;
      align-items: center;
      a, p {
        color: var(--white);
      }
      a.active {
        color: var(--primary-light);
      }
</style>

<div class="logins">
  {% if user.is_authenticated %}
  <p>Welcome, {{ user.username }}</p>
  <a href="{% url 'logout' %}">Logout</a>
  {% else %}
  <a href="{% url 'login' %}" class="{% if request.resolver_match.url_name == 'login' %}active{% endif %}">Login</a>
  {% endif %}
</div>
